#searchBtn:hover {
    background-color: lightgreen;
}

.forecastBox {
    background-color: cornflowerblue;
    margin: 2px;

}

.title-area {
    background-color: #8ef784;
}

#recentCities {
    background-color: #8ef784;
}

#recentHeader {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 8px;
}